/* CSS declarations go here */

body {
  background-color: #223399;
}

input {
  min-height: 35px;
}

ul {
  list-style-type: none;
}

ul, li, div {
  display: inline;
}

.pic {
  max-width: 50px;
}

.bub {
  background-color: #121212;
  width: 15%;
  padding: 5%;
}