/* CSS declarations go here */

body {
  background-color: #223399;
}

input {
  min-height: 35px;
}

ul {
  list-style-type: none;
}

ul, li, div {
  display: inline;
  padding: 0;
}

img {
  border-radius: 4px;
  border: 3px solid #772288;
}

input[type="text"] {
  background-color: #000000;
  border-radius: 10px;
}

.butts {
  color: #FFAAAA;
  margin: 5px;
  background-color: #000000;
  padding: 10px;
  border-radius: 10px;
}

@keyframes flicka {
    from {
        border: 3px solid #0022BB;
    }
    to {
        border: 3px solid #AA0022;
    }
}

.flick {
    animation-duration: 0.08s;
    animation-name: flicka;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes epilepsy {
    from {
        background: #002299;
        color:#440022;
    }
    to {
        background: #440022;
        color:#002299;
    }
}

img {
    animation-duration: 0.9s;
    animation-name: epilepsy;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slowz {
    from {
        background: #002244;
        color:#A122A2;
    }
    to {
        background: #212282;
        color:#002244;
    }
}

body {
    animation-duration: 1.9s;
    animation-name: slowz;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*#space {

}
*/
.pic {
  max-width: 200px;
  max-height: 200px;
}

.zypic {
  max-width: 100px;
  width: 100px;
  height: 100px;
  max-height: 100px;
}

#matespace {
  max-height: 200px;
  overflow: hidden;
}

.bub {
  background-color: #121212;
  width: 20%;
  position: absolute;
}

.spacer {
  display: block;
  min-width: 1px;
  min-height: 100px;
}

.lifebub {
  border: 3px solid #998877;
  background-color: #000000;
  display: inline-block;
  min-height: 200px;
  max-height: 200px;
  min-width: 40%;
  width: 40%;
}

.box {
  z-index: -10;
  background-color: #110011;
  min-width: 100%;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  /*padding: 20%;*/
}

.white {
  color: #FFFFFF;
}

#deli {
  float: right;
  position: relative;
  top: -35px;
  height: 35px;
  max-height: 35px;
}

#byebye {
  width: 10%;
  display: inline-block;
  border: 2px solid #FF0000;
  background-color: #660000;
  min-height: 35px;
  min-width: 150px;
}

.inb {
  display: inline-block;
}